// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menuDropBox {
width: 190px;
border: 1px solid black;
background-color: #E2EBED;
height: 200px;
overflow: auto;
margin-bottom: 10px;
padding: 3px;
}